<h1>Issues</h1>
<ul>
  <% issues.each do |issue| %>
    <li>
      <h2><%= issue["title"] %></h2>
      <p>opened by <%= issue["username"] %></p>
    </li>
  <% end %>
</ul>
<a href='/<%= user_name %>/<%= repo_name %>/issues/new'>New Issue</a>

